@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    font-family: 'Lato', sans-serif;
    /* border: red;
    border-style: solid;
    border-width: 2px; */
}

.btn{
    border: grey;
    border-style: solid;
    border-radius: 20px;

}
#slogan{
    margin-top: 150px;
    margin-bottom: 350px;
    font-family: 'Roboto', sans-serif;
}
#slogan .row{
    align-items: center;
}

#banner{
    font-size: 100px;
    margin-bottom: 50px;
}

.card{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}
.card-footer{
    background-color: rgba(180, 170, 170, 0);
    text-align: center;
}
#categories{
    margin-bottom: 250px;
}
#categoryCards{
    margin-top: 50px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
#article{
    display: flex;
    border-radius: 50px;
    background-color: rgba(180, 170, 170, 0.5);
    height: 600px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

#article p{
    padding-top: 250px;
    padding-left: 50px;
}
#article button{
    margin-left: 50px;
}
#article img{
    padding: 50px;
}

#login, #signup{
    margin-top: 100px;
    height: 400px;
    width: 500px;
    background-color: rgba(180, 170, 170, 0.5);
    border-radius: 50px;
}
#signup{
    margin-bottom: 100px;
}
#login h1, #signup h1{
    margin-bottom: 50px;
    text-align: center;
    padding-top: 50px;
}
#login .field{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
}
#login button{
    margin-top: 30px;
}

#text-ad{
    margin-top: 100px;
    text-align: center;
}

#overview{
    margin-top: 100px;
}
#overview h1{
    margin-bottom: 50px;
}

#companybanner{
    height: 350px;
    background-color: rgba(180, 170, 170, 0.5);
    border-radius: 50px;
    margin-bottom: 30px;
}

#overviewbtn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#metrics{
    background-color: rgba(180, 170, 170, 0.5);
    height: 350px;
    margin-bottom: 50px;
}
#metrics-contents{
    display: flex;
    justify-content: space-around;
}
#metricsRating, #metricsPoints{
    margin-top: 50px;
    margin-right: 50px;
}

#metricsRating h1{
    font-size: 100px;
}
#metrics #stars{
    text-align: center;
}

#metrics li{
    font-size: 20px;
}

#employeereview{
    margin-bottom: 50px;
}

#employeereview h1{
    margin-bottom: 50px;
}

.review-box{
    height: 200px;
    width: 400px;
    background-color: rgba(180, 170, 170, 0.5);
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#review-panel{
    display: flex;
    flex-wrap: nowrap;
}

#employeereview h2{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.see{
    margin-top: 20px;
}
#employeereview .btn{
    display: flex;
    justify-content: space-evenly;
}

#Twoblocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.blocks{
    height: 600px;
    width: 650px;
    background-color: rgba(180, 170, 170, 0.5);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
}
.blocks h2{
    margin-left: 40px;
    margin-top: 40px;
}

#company-profile{
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
#profile{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#highlights, #jobpostings{
    margin-bottom: 50px;
}

#highlightsTitle, #jobpostingsTitle{
    background-color: rgba(180, 170, 170, 0.5);
    height: 60px;
    border-radius: 50px;
    margin-bottom: 50px;
}
#highlightsTitle h2, #jobpostingsTitle h2{
    text-align: center;
    padding-top: 10px;
    color: white;
}

#jobcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#jobcards .card{
    width: 600px;
    border-radius: 50px;
}

#jobcards h3{
    margin-left: 20px;
    margin-top: 20px;
}

#listedjob{
    background-color: rgba(180, 170, 170, 0.5);
    border-radius: 50px;
    margin-top: 100px;
}
#listedjob h2{
    padding-top: 50px;
}

#listedjob h2,#listedjob h3, #listedjob h4, #listedjob p{
    padding-left: 50px;
}

#listBtn{
    display: flex;
    justify-content: space-between;
}
#listBtn button{
    margin-right: 50px;
    margin-bottom: 30px;
}
.line{
    height: 5px;
    width: 90%;
    background-color: grey;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

#listedjob ul{
    padding-left: 70px;
}
#jobdes{
    margin-bottom: 150px;
}

